{"configSettings":[{"appID":"SharedServerToken","serverToken":"RLIQNPGVPCWRCUMXKFW5O4C4LS45M6QJ"},{"appID":"1856315068424733","serverToken":"XQOGTDJUSTBWTMBEG5GPLRJAC7P7QFEZ"},{"appID":"1865001900860816","serverToken":"S4KZB4TSXWFXFRMFNG2TKQTILWMBHUFQ"},{"appID":"1233551921692294","serverToken":"RLIQNPGVPCWRCUMXKFW5O4C4LS45M6QJ"}]}